* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px;
  text-align: center;
}

img {
  border: none;
}

.center {
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.image {
  max-width: 100%;
  max-height: 100%;
}

#asuka {
  bottom: 0;
}
